<h1>Let's play a word game.</h1>
<p>Please, type in a phrase or sentence.</p>

<form action='/results' method='get'>
  <div class="form-group">
    <input id="input" name="input" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">We'll take out all the vowels.</button>
</form>
